<nav class="navbar navbar-expand-lg navbar-light bg-dark">
<ul class="navbar-nav">
    <li class="nav-item">
       <a routerLink="employees" routerLinkActive="active" class="nav-link" style="color: white;"> قائمة المستعملين</a>
    </li>
    <li class="nav-item">
       <a routerLink="addEmployee" routerLinkActive="active" class="nav-link" style="color: white;"> اضافة مستعمل</a>
    </li>
    <li class="nav-item">
      <a  *ngIf="authService.isAdmin()" routerLink="addDirection" routerLinkActive="active" class="nav-link" style="color: white;"> اضافة إدارة </a>
   </li>
   <li class="nav-item">
      <a routerLink="login" routerLinkActive="active" class="nav-link" style="color: white;"> تسجيل الدخول </a>
   </li>
   <li> <a  class="nav-link" style="color: white;">{{authService.loggedUser}}  </a></li>
   <button  (click)="authService.logout()" class="btn btn-warning " style="margin-right:10px ;"><i class="fa fa-sign-out"></i></button>
</ul>
  </nav>





  <h1 class="text-center">{{title}}</h1>
<div class="container">
    <router-outlet></router-outlet>
</div>

<footer  class="footer">
 <div class="container">
   <span > جميع الحقوق محفوظة  فوزي السالمي @2022</span>
 </div>
</footer>
