<div class="col-md-5 offset-md-3">
    <h3> تحيين مستعمل</h3>
    <form (ngSubmit)="onsubmit()">
       <div class="form-group">
           <label>الاسم</label>
           <input type="text" class="form-control" id="firstName" 
             [(ngModel)]="employee.firstName" name="firstName">
       </div>
       <div class="form-group">
        <label>اللقب</label>
        <input type="text" class="form-control" id="lastName" 
          [(ngModel)]="employee.lastName" name="lastName">
    </div>
    <div class="form-group">
        <label>البريد الالكتروني</label>
        <input type="text" class="form-control" id="emailId" 
          [(ngModel)]="employee.emailId" name="emailId">
    </div>
    <div class="form-group">
      <label>الادارة</label>
      <!-- <input type="text" class="form-control" id="idDir"
        [(ngModel)]="employee.idDir" name="idDir"> -->
        <select  [(ngModel)]="employee.idDir" class="input"  name="idDir"  id="idDir"  class="form-select"  >
          <!-- <option value="">Your Placeholder Text</option> -->
          <option *ngFor="let direction of directions"  value="{{direction.idDir}}">{{direction.nomDir}}</option>
        </select>
        <!-- <p>{{idDirection}}</p> -->
    </div>
    
    <button class="btn btn-success" type="submit" style="margin-top: 10px;"> تحيين</button>
    <button class="btn btn-danger"   (click)="goToListeEmployee()" style="margin-top: 10px;;margin-right: 10px;">الغاء</button>
    </form>
    
    </div>
    